{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %} Vehicle OnComing Detection {% endblock %}</title>
    <link
      rel="stylesheet"
      href="{% static '/lib/bootstrap5.1/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static '/lib/styles/styles.min.css' %}" />
    <link
      rel="stylesheet"
      href="{% static '/lib/fonts/font-awesome.min.css' %}"
    />
    <link rel="stylesheet" href="{% static '/lib/jqueryui/jquery-ui.css' %}" />
    <link rel="stylesheet" href="{% static '/css/site.css' %}" />
    <link rel="stylesheet" href="{% static '/css/sidebar.css' %}" />
  </head>
  <body>
    {% block content %} {% endblock %}

    <script src="{% static '/lib/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static '/lib/jqueryui/jquery-ui.js' %}"></script>
    <script src="{% static '/lib/bootstrap5.1/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/site.js' %}"></script>
    {% block scripts %} {% endblock %}
  </body>
</html>
